
<table>
  <thead>
  <tr>
  <th>Name</th>
  <th>Age</th>
  <th>Description</th>
  <th>Type</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of personel;index as i" #personelList>
  <td>{{item.name}}</td>
  <td>{{item.age}}</td>
  <td>
  <select (change)="handleTypeChange($event)" id={{item.id}}>
      <option [selected]="item.tipId == type.id" *ngFor="let type of tipler;index as t" value={{type.id}}>{{type.tipAdi}}</option>
  </select>
  </td>
  <td>
  <input type="text" [value]="getTip(item.tipId)" #input />
  </td>
  </tr>

  </tbody>
  </table>
  <div>
  <input type="button" value="Gönder" (click)="submit()" />
  </div>
  